/*Initial reset*/
@font-face{
	font-family:Arial, Helvetica, sans-serif;
}
@font-face{
	font-family:Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6{
	padding:0 0;
	margin:0 0;
}
p{
	padding:0 0;
	margin:0 0;
}
ul{
	padding:0 0;
	margin:0 0;	
}
body{
	padding:0 0;
	margin:0 0; 
	font-family:Arial, Helvetica, sans-serif;

}

/*Start of header for all pages*/
.header{
}
.header-top{/*where the nav bar is*/
  	padding: 1.5em 0;
  	background:#000099;/*#00BBBB*/;
}
.logotype{
	float: left;
}
.logotype a{
	display: block;
}
.logotype a {
  	font-size: 4em;
  	color: #FFFFFF;
  	text-transform: capitalize;
  	text-decoration: none;
  	font-family:Arial, Helvetica, sans-serif;
}
.logotype span {
  	font-weight: 400;
  	color:#FFFFFF;
}
.top-menu{
	float: right;
	margin-top: 2.5em;
}
.top-menu ul li{
	display: inline-block;
	margin: 0 0.5em;
}
.top-menu ul li a {
	color: #ffffff;
	text-decoration: none;
	font-size: 1.3em;
	text-transform: capitalize;
}
.top-menu ul.loggedin{
	float:right;
	color:#ffffff;
	font-size:0.8em;
}
.top-menu ul li a.active {
  	color:#2894FF;
    font-weight:bolder;
}
.top-menu ul li a:hover {
  	color:#2894FF;
    font-weight:bolder;
}
span.menu {/*this is menu buttom for different media queries*/
    display: none;
}
.nav-bottom{
	background:#ffffff;
	min-height:35px;
}
/* End of header for all pages*/

/*Start of footer for all pages*/
.footer-section{
	padding:1.5em 0;
	text-align:center;
	background:#000099;
}
.footer-bottom{
	margin-top: 1em;
}
.footer-bottom p{
	font-size: 0.9em;
	color:#ffffff;
	font-weight: 400;
}
.footer-bottom a {
	font-size: 1em;
	color:#7F772D;
	font-weight: 400;
	text-transform: capitalize;
}
.footer-bottom a:hover {
	color:#555;
}
.footer-bottom p a {
	margin: 0 6px 0 6px;
}
#toTop{/*This feature allows viewer to go to top of page on home page only*/
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background: url("../images/to-top2.png") no-repeat 0px 0px;
}
/*End of footer for all pages*/


/*Home Page*/
/*Start of slider*/
.slider{
	background: url("../images/banner61.jpg") no-repeat 0px 0px;
	background-size: cover;
	min-height:600px;
}
#top{
	margin:0 20px 100px 10px;
}
.slider-text{
  	text-align: left;
  	width: 40%;
  	padding: 3em 3em 0 0;
}
.slider-text h1{
  	font-size: 3em;
  	font-weight: 300;
  	color:#fff;
}
.slider-text p{
  	font-size: 1.3em;
  	color:#fff;
  	margin-top: 1.3em;
  	margin-right:3em;
  	line-height: 1.8em;
}
.callbacks_container{
	position:relative;
  	float: left;
  	width: 100%;
}
.rslides li{
  	position:relative;
  	display: none;
  	width: 100%;
  	left: 0;
  	top: 0;
}
.rslides li{
  	position:relative;
  	display:block;
  	float: left;
}
.callbacks_tabs {
  	list-style: none;
  	position: absolute;
  	top: 109%;
  	z-index: 111;
  	left: 0%;
  	padding: 0;
  	margin: 0;
}
.callbacks_tabs li{
	display: inline-block;
}
.callbacks_tabs a{
 	visibility: hidden;
}
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 12px;
	border-radius: 17px;
	width: 12px;
	display: inline-block;
	background: white;
}
.callbacks_here a:after{
	background:#000099;
}
/*End of slider*/

/*Start of Log in and register forms on home page*/
.form{
	margin:20px 20px;
	display:block;
	position:absolute;
}
.form-signin{
  	max-width: 330px;
  	padding: 0;
  	margin: 0 0 40px 0;
  	text-align:center;
}
.form-signin .form-control{
  	position: relative;
  	height: auto;
  	padding: 10px;
  	font-size: 16px;
}
.form-signin input[type=email]{
	margin-bottom: -1px;
}
.form-signin input[type=password]{
	margin-bottom: 10px;
}
.form-signin button[type=submit]{
  	background: #2894FF;
  	color: #FFFFFF;
  	font-size: 25px;
  	font-weight: 300;
  	padding: 10px 30px;
  	margin: 0px 0px 5px 0px;
  	border: none;
  	display: inline-block;
  	outline:none;
  	width:100%;
}
.form-signin button[type=submit] a{
	color:#FFFFFF;
	text-decoration:none;
}
.form-signin button[type=submit] a:hover{
	color:#fee200;
	text-decoration:none;
}
.form-signin button[type=submit]:hover{
  	background:#000099;
  	color:#fee200;
}
.home-register{  	
	padding: 10px 10px;
	font-size: 20px;
  	font-weight:bold;
  	text-transform:capitalize;
}
.col-lg-4{
	margin-top:25px;
}
.form-signin label a{
	color:#ffffff;
}
.form-signin label a:hover{
	color:#fee200;
}

/*End of log in and register form on home page*/

/*Start of services-section on Home Page*/
.services-section{
	padding: 4em 0;
	background:#ffffff;
}
.services-section h3{
 	font-size: 3em;
  	color: #000000;
	font-family:Arial, Helvetica, sans-serif;
  	text-align:center;
}
.services-grids{
  	margin-top: 3em;
}
span.glyphicon.glyphicon-search,span.glyphicon.glyphicon-check,span.glyphicon.glyphicon-list,
span.glyphicon.glyphicon-leaf, span.glyphicon.glyphicon-stats, span.glyphicon.glyphicon-thumbs-up{
  	font-size: 4em;
  	color: rgba(214, 213, 208, 0.72);
}
.left-grid1{
	float: left;
	width: 15%;
	margin-right: 1%
}
.service2{
	padding: 1em 0;
}
.left-grid2{
  	float: left;
  	width: 80%;
}
.left-grid2 h4 {
  	font-size: 2.5em;
  	color: #000000;
  	text-transform: capitalize;
  	font-weight:bold;
}
.left-grid2 p {
  	font-size: 1.5em;
 	color: #000000;
  	line-height: 1.8em;
  	margin-top: 0.5em;
}
/*--End of services-section on home page*/

/*Start of testimotials-section on home page*/
.testimonials-section{
  padding: 4em 0;
  background:#eeeeee;
}
.testimonials-section-top{
	background:url('../images/b3.jpg') no-repeat 0px 0px;
	min-height:260px;
}
.testimonials-section h2{
   	font-size: 3em;
    text-transform: capitalize;
    color: #000000;
    text-align: center;
	margin-bottom: 0.5em;
}
.testimonials-section h4{
    font-size: 1.5em;
    text-transform: capitalize;
    color: #000000;
	margin: 1.5em 0 0;
	text-align:center;
	font-weight: 600;
}
.top-testimonials-section p{
	margin: 5em 0 0;
	text-align:left
}
span.glyphicon.glyphicon-user.user1{
    font-size: 2em;
    color:#ffffff;
}
.grid-testimonials-section{
	width:70%;
	margin:1em auto;
}
.testimonials-top-comments h3{
    font-size: 3em;
    text-transform: capitalize;
    color: #000000;
}
.testimonials-comments{
	background:#ffffff;
}
.someone{	
	background:#000099;
	float: left;
	width: 9%;
	text-align: center;
	padding: 2em 0;
}
p.someone-comment{
	float: left;
	width:86%;
	margin:0 0 0 2%;
	font-size:1em;
	font-weight: 400;
	line-height: 1.6em;
	color: #000000;
	padding: 1.2em 0;
}
.random-comment{
	margin: 0 0 0 3em;
}
.random {
	padding: 1em 0;
}
.testimonials-text p{
	padding: 0 0 0.5em;
	float:left;
	padding: 0;
	font-size:1em;
  	text-decoration: none;
  	color:#000000;
  	font-weight: 500;
  	font-size: 1.2em;
  	font-family: 'Play-Regular';
}
.testimonials-text  span{
	font-weight: 400;
  	padding: 0 2em;
  	color: #000000;
}
.top-comment{
	background:#ffffff;
}
.testimonials-top-comments {
  padding-top: 1em;
}
/*End of testimonials-section on home page*/
/*End of Home Page*/

/*Start of Register Page*/
#register{
	background:#eeeeee;
	min-height:600px
}
.register{
	width: 50%;
  	background: #eeeeee;
  	margin: auto auto;
  	padding:50px 0 0 0;
}
.register h3 {
  	font-size: 27px;
  	font-weight: 300;
  	color: #fff;
  	background: #2894FF;
  	padding: 20px 0px;
  	text-align: center;
}
.register-form {
  	padding: 30px 0 25px 0;
  	text-align: center;
}
.register-form input[type=text] {
  	outline: none;
  	font-size: 15px;
  	font-weight: 400;
  	color: #CCCACA;
  	padding: 13px 10px;
  	border: 2px solid #C9C9C9;
  	margin: 0px 30px 20px 0px;
  	width: 100%;
}
.register-form input[type=text] {
  	outline: none;
  	font-size: 15px;
  	font-weight: 400;
  	color: #CCCACA;
  	padding: 13px 10px;
  	border: 2px solid #C9C9C9;
 	margin: 0px 30px 20px 0px;
  	width: 100%;
  
}
.register-form input.email[type=text] {
  	margin: 0px 0px 20px 0px;
  	width: 100%;
}
.register-form input.password[type=password]{
  	outline: none;
  	font-size: 15px;
  	font-weight: 400;
  	color: #CCCACA;
  	padding: 13px 10px;
  	border: 2px solid #C9C9C9;
 	margin: 0px 30px 20px 0px;
  	width: 98%;
}
.register-form input[type=password] {
  	outline: none;
  	font-size: 15px;
  	font-weight: 400;
  	color: #CCCACA;
  	padding: 13px 10px;
  	border: 2px solid #C9C9C9;
  	margin: 0px 30px 20px 0px;
  	width: 100%;
  
}
.register-form input[type=submit]{
  	background: #2894FF;
  	color: #FFFFFF;
  	font-size: 25px;
  	font-weight: 300;
  	padding: 10px 30px;
  	margin: 0px 0px 5px 0px;
  	border: none;
  	display: inline-block;
  	outline:none;
  	width:100%;
}
.register-form input[type=submit]:hover{
  	background:#000099;
}
.register-form p{
  	font-size: 15px;
  	font-weight:bold;
  	color: #000000;
  	text-decoration: underline;
}
.register-form p a{
  	font-size: 15px;
  	font-weight:bolder;
  	text-transform:uppercase;
  	color: #000099;
}
.register-form p a:hover{
  	color: #2894FF;
  	font-weight:bolder;
}
/*End of Register Page*/

/*About Page*/
.about-page{
    text-align:left;
    padding: 20px 0 0 0;
    background: url("../images/about2.jpg") no-repeat 0px 0px;
    background-size: cover;
   	min-height:700px;
	font-weight:bolder;
}
.about-page h3 {
	font-size: 2.5em;
	text-transform: capitalize;
	color: #000099;
    text-align:left;
   	padding: 0 0 10px 0;
	font-weight:bold;
}
#row1{
	padding:0 0 0 15px;
}

#row2{
	padding:50px 0 0 0;
}
#col2{
	text-align:right;
}
#col2 h3{
	text-align:right;
}
.about-page-grids{
   margin-top: 3em;
}
.about-page-grids p {
  font-size: 1em;
  color:#000000;
  line-height: 1.8em;
}
/*End of about-page*/

/*Start of Tools Page*/
.tools-section{
	padding: 4em 0;
	background:#eeeeee;
}
.tools-section h3{
 	font-size: 3em;
  	text-transform: capitalize;
  	color: #000000;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bolder;
  	text-align:center;
}
.tools-grids{
  	margin-top: 1.125em;
}
span.glyphicon.glyphicon-file{
  	font-size: 4em;
  	color:#2894FF;
}
.left-grid1{
	float: left;
	width: 15%;
	margin-right: 1%
}
.tools2{
	padding: 1em 0;
}
.left-grid2{
  float: left;
  width: 80%;
}
.left-grid2 h4 {
  font-size: 1.5em;
  color: #000000;
  text-transform: capitalize;
}
.left-grid2 p {
  font-size: 1em;
  color: #000000;
  line-height: 1.8em;
  margin-top: 0.5em;
}
.col-md-6{
	float:left;
	padding:0 0 30px 0;
}
.tools h4 {
  font-size: 1.5em;
  color: #000000;
  text-transform: capitalize;
}

.tools-rightgrid {
    margin-top: 1em;   
}

.tools{
	width:100%;
	margin:30px auto;
	padding:0 0 0 25px;
	min-height:400px;
	color:#000000;
}
/*End of Tools Page*/

/*Start of History Page*/
.history{
	width:80%;
	margin:auto auto;
	padding:25px 0 0 25px;
	min-height:600px;
	color:#000000;
	background:#eee;
}
#history{
	background:#eee
}
.results{
	width:70%;
	margin:0 auto;
	margin-top:50px;
}
.results p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:medium;
	font-weight:bolder;
}

table caption{
	margin-bottom:30px;
}

table{
	width:70%;
	margin:0 auto;
	border:medium;
	border-bottom-color:#2894FF;
	border-bottom-style:double;
	border-bottom-width:thick;
}
table caption{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bolder;
	padding:0 50px;
}
th{
	padding:10px;
	background:#2894FF;
}

th,td{
	width:200px;
}
td{
	padding:10px;
}
table, th, tr,td  {
	text-align:center;
}
table thead{display:block;text-align:center;}
table tbody{display:block; overflow:auto;max-height:250px;text-align:center}


/*End of History Page*/

/*Start of contact-page*/
.contact-page{
    padding: 4em 0;
	background:#2894FF;
 }
.contact-page .container{
	width:80%;
	margin:0 auto;
} 
.contact-page-header h3{
    font-size: 3em;
    text-transform:capitalize;
    color:#000000;
    text-align:center;
 }
.contact-page-grid {
  	margin-top: 3em;
}
.contact-details-grid h4{
   	font-size: 1.5em;
   	color: #000000;
  	margin: 0.8em 0 0.5em;
  	text-transform: capitalize;
  	font-weight:600;
	padding: 7px 3px;
}
.contact-details-grid h5 {
	font-size: 1em;
	text-transform: uppercase;
	padding: 7px 3px;
	color:#000000;
}
.contact-details-grid h5 span {
	color: #000000;
}
.contact-details-grid input[type=text] {
	width: 90%;
	padding: 0.6em 1em;
	font-size: 1em;
	border: none;
}
.contact-details-grid textarea {
	width: 90%;
	padding: 0.6em 1em;
	font-size: 1em;
	height: 20em;
	resize: none;
	border: none;
}
.contact-details-grid input[type=submit] {
	float: right;
	padding: 10px 25px;
	font-size: 1em;
	margin: 8px 55px 0 0;
	color: #2894FF;
	font-weight:bolder;
	border: none;
	text-transform:capitalize;
	background:#000099;
}
.contact-details-grid input[type=submit]:hover{
	color:#fee200;
}
.contact-details-grid1 p {
  font-size: 1.2em;
  color:#000000;
  line-height: 1.1em;
  margin-top: 1.3em;
}
.contact-details-grid1 h4 {
  font-size: 1.5em;
  color: #000000;
  margin: 0.8em 0 0.5em;
  text-transform: capitalize;
  font-weight:600;
  padding: 7px 3px;
}
.contact-details-grid1 p a {
  color: #000099;
}
/*End of Contact Page*/


/*Here starts media queries for responsive web browsing and mobile usage*/
/*handling size of banner at header div in home page*/
@media(max-width:1440px){
	/*.slider{min-height: 735px;}*/
}

@media (max-width: 1366px){
	/*.slider{min-height: 694px;}*/
}

@media (max-width: 1280px){
	/*.slider{min-height: 649px;}*/
}

@media (max-width: 1080px){
	.header-top{padding: 0.1em 0;}
	.slider-text{padding: 12em 1em 0 0;}
	.slider-text h1{font-size: 3.6em;}
	.slider{min-height: 544px; background-position:0px -150px;}
	.about-page h3,.services-section h3,.contact-page-header h3,.testimonials-section h2,.testimonials-top-comments h3{
		font-size: 2.5em;
	}
	.about-grid h4,.left-grid2 h4,.blog h4,.contact-details-grid h4,.contact-details-grid1 h4,.testimonials-section h4,.slider-text h1{
		font-size: 1.4em;
	}
	.about-grid p,.left-grid2 p,.contact-details-grid1 p,p.someone-comment,.slider-text p{font-size: 0.965em;}
}

@media(max-width:1024px){
	.slider{min-height: 528px; background-position: 0px -137px;}
	.slider-text h1{font-size: 2.5em;padding:0 0 0 0; width: 49%;}
	.slider{min-height: 465px; 	background-position: 0px 0px;width:100%}
	.slider-text{padding: 5em 5em 0 0; width: 49%;}
}

}

@media screen and (max-width: 600px){
  .callbacks_nav{top: 47%;}
}

/*here starts the menu for samller screens*/
/*Start of queries for max-width: 991px*/
@media (max-width: 991px){

	/*header all pages*/
	span.menu{
		display: block;
		text-align: left;
		cursor: pointer;
		position: relative;
	}
	.top-menu ul{
		display: none;
		position:absolute;
		width: 100%;
		z-index: 9999;
		left: 0%;
		margin:0.7em 0em;
		background:rgba(29, 28, 24, 0.93);
		border:0;
	}
	.top-menu span.menu{
		display: block;
	}
	.top-menu ul li{
		display: block;
		float:none;
		text-align: center;
	}
	.top-menu ul li a{
		color:#ffffff;
		display:block;
		margin:0;
		background:none;
		border:none;
		padding:0.4em;
		font-size:1em;
	}
	.top-menu{
	    margin-top: 1.5em;
	}
	.top-menu ul li a.active{
	  	color:#2894FF;
	    font-weight:bolder;
	}
	.top-menu ul li a:hover{
	  	color:#2894FF;
	    font-weight:bolder;
	}
	.header-top {
	    padding: 0em 0;
	}
	.logotype a {
	  font-size: 3.5em
	}
		
	/*home page*/
	.services-section h3,.tools-section h3,.testimonials-section h2,.testimonials-top-comments h3{font-size: 2em;}
	.left-grid2 h4{font-size: 1.3em;}
	.left-grid2 p{font-size: 0.95em;}
	p.someone-comment{font-size: 0.95em;}
	.services-section,.tools-section{padding: 3em 0;}
	.testimonials-section{padding: 3em 0;}
	.service-leftgrid,.tools-leftgrid{float: left; width: 50%;}
	.service-rightgrid,.tools-rightgrid{float: left; width: 50%;}
	.left-grid1{float: left; width: 17%; margin-right: 7%;}
	.left-grid2 {float: left; width: 76%;}
	.slider-text h1{font-size: 2.5em;padding:0 0 0 0; width: 49%;}
	.slider{min-height: 465px; 	background-position: 0px 0px;width:100%}
	.slider-text{padding: 5em 5em 0 0; width: 49%;}
		
	/*about page*/
	.about-page{padding: 3em 0;}
	.about-page h3{font-size: 2em;}
	.about-grid h4{font-size: 1.3em;}
	.about-grid p{font-size: 0.95em;}
	.about-grid {float: left; width: 33.3%;}

	
	/*contact page*/
	.contact-page{padding: 3em 0;}
	.contact-page-header h3,{font-size: 2em;}
	.contact-details-grid h4,.contact-details-grid1 h4,.testimonials-section h4{font-size: 1.3em;}
	.contact-details-grid1 p,{font-size: 0.95em;}
	.contact-details-grid{float: left; width: 50%;}
	.contact-details-grid1 {float: left; width: 50%;}
	.contact-details-grid input[type=submit] {margin: 8px 35px 0 0;}
	.contact-details-grid h5 {font-size: 0.95em;}
}
/*End of queries for max-width: 991px*/

/*Start of queries for max-width: 640px*/
@media (max-width: 640px){
	
	/*header all pages*/
	.logotype a{font-size: 3em;}
	.top-menu {margin-top: 1em;}
	.slider{
	    min-height: 404px;
	 	background: url("../images/banner61.jpg") no-repeat -155px 0px;
	  	background-size: cover;
	}

	/*home page and tools page*/
	.services-section h3,tools-section h3,.testimonials-section h2,.testimonials-top-comments h3{font-size: 1.6em;}
	.left-grid2 h4,.testimonials-section h4{font-size: 1.2em;}
	.services-grids,.tools-grids{margin-top: 2em;}
	.left-grid2 p{font-size: 0.9em;}
	p.someone-comment{font-size: 0.9em;}
	.slider-text h1{font-size: 2.5em;}
	.slider-text{padding: 5em 1em 0 0;}
	.slider{min-height: 400px;}
	
	
	/*about page*/
	.about-page {
	    min-height: 404px;
	 	background: url("../images/about2.jpg") no-repeat -155px 0px;
	  	background-size: cover;
	}
	.about-page h3{font-size: 1.6em;}
	.about-grid h4{font-size: 1.2em;}
	.about-page-grids{margin-top: 2em;}
	.about-grid p
	
	/*contact page*/
	.contact-page-header h3{font-size: 1.6em;}
	.contact-details-grid h4,.contact-details-grid1 h4{font-size: 1.2em;}
	.contact-details-grid1 p
	.contact-details-grid textarea{height: 15em;}
	.contact-details-grid input[type=submit]{margin: 8px 25px 0 0;}
	
	/*all glyphicons*/
	span.glyphicon.glyphicon-user{font-size: 3em;}
	span.glyphicon.glyphicon-check{font-size: 3em;}
	span.glyphicon.glyphicon-glass{font-size: 3em;}
	span.glyphicon.glyphicon-pushpin{font-size: 3em;}
	span.glyphicon.glyphicon-leaf{font-size: 3em;}
	span.glyphicon.glyphicon-fire{font-size: 3em;}
	span.glyphicon.glyphicon-search{font-size: 3em;}	
}
/*End of queries for max-width: 640px*/

/*Start of queries for max-width: 480*/
@media (max-width: 480px){
	
	/*header all pages*/
	.logotype a{font-size: 2.5em;}
	.top-menu{margin-top: 0.8em;}
	.top-menu ul{margin: 0.3em 0em;}
	
	/*home page and tools page*/
	.slider{min-height: 325px;}
	.services-section,.tools-section,.testimonials-section{padding: 2em 0;}
	.services-grids, .tools-grids{margin-top: 1em;}
	.services-section h3, .tools-section h3, .testimonials-section h2, .testimonials-top-comments h3{font-size: 1.55em;}
	.left-grid2 h4, .testimonials-section h4{font-size: 1.15em;}
	.service-leftgrid, .tools-leftgrid{width: 100%; padding: 0;}
	.service-rightgrid, .tools-rightgrid{width: 100%; padding: 0;	margin-top:1em;}
	.left-grid1{float: left; width: 14%; margin-right: 2%;}
	.left-grid2{float: left;width: 84%;}
	.service2,.tools2{padding: 1em 0;}
	.slider-text h1{font-size: 2em;}
	.slider-text{padding: 5em 1em 0 0; width: 60%;}
	.slider-text p{font-size: 1em;}
	.slider{min-height: 380px;}
	
	/*about page*/
	.about-page{padding: 2em 0;}
	.about-page-grids
	.about-grid{width: 100%;}
	.about-grid:nth-child(2){padding: 1em 0;}
	.about-page h3{font-size: 1.55em;}
	.about-grid h4{font-size: 1.15em;}

	/*contact pge*/
	.contact-page{padding: 2em 0;}
	.about-grid{width: 100%;}
	.contact-page-grid{margin-top: 1em;}
	.contact-page-header h3{font-size: 1.55em;}
	.contact-details-grid h4, .contact-details-grid1 h4{font-size: 1.15em;}
	.contact-details-grid input[type=text]{width: 100%;}
	.contact-details-grid{width: 100%; padding: 0;}
	.contact-details-grid1{width: 100%; padding: 0;}
	.contact-details-grid textarea{height: 12em;width: 100%;}
	.contact-details-grid input[type=submit]{margin: 8px 0px 0 0;font-size: 0.95em;}	
}
/*End of queries for max-width: 480*/

/*Start of queries for max-width: 414*/
@media (max-width: 414px){

	.slider-text h1{font-size: 1.5em;}
	.slider-text p{font-size: 13px;}
	.slider-text {padding: 2em 1em 0 0;}
	.slider{min-height: 620px;}
}
/*End of queries for max-width: 414*/


/*Start of queries for max-width: 320*/
@media (max-width: 320px){

	/*home page and tools page*/
	.slider{
	    background: url("../images/banner61.jpg") no-repeat 0px -155px;
		background-size:cover;
		min-height:620px;
	}
	.slider-text h1{
	  	font-size: 1.3em;
	  	color:#fff;
	}
	.slider-text p{
	  	font-size: 0.9em;
	  	color:#fff;
	  	margin-top: 1.1em;
	  	margin-right:3.5em;
	  	line-height: 1.3em;
	}
	.slider-text{
	  	width: 115%;
	}
	.rslides li {width: 110%;}
	.callbacks_tabs a:after{height: 8px; width: 9px;}
	.callbacks_tabs{top: 100%;}
	.header-top,{padding: 0.3em 0;}
	.header.head1{min-height: 52px;}
	.top-menu ul.loggedin{display:none}
	.services-section, .tools-section .testimonials-section{padding: 1em 0;}
	.services-section h3,.tools-section h3{font-size: 1.4em;}
	.testimonials-section h2, .testimonials-top-comments h3{font-size: 1.4em;}
	.left-grid2 h4, .testimonials-section h4{font-size: 1.2em; line-height:1.5em;}
	.left-grid1{float: left; width: 17%; margin-right: 2%;}
	.left-grid2{float: left; width: 80%;}
	.someone,slider-text{width: 20%; padding: 4em 0 4em 0;}
	p.someone-comment{float: left; width: 69%; margin: 0 0 0 5%; font-size: 0.8em;}
	.random-comment {margin: 0 0 0 1em;}

	/*about page*/
	.about-page{
	    min-height: 404px;
	 	background: url("../images/about2.jpg") no-repeat -155px 0px;
	  	background-size: cover;
	}
	.about-page{padding: 1em 0;}
	.about-page h3{font-size: 1.46em;}
	.about-grid h4{font-size: 1.2em; line-height:1.5em;}
	
	/*contact page*/
	.contact-page{padding: 1em 0;}
	.contact-page-header h3{font-size: 1.46em;}
	.contact-details-grid h4, .contact-details-grid1 h4{font-size: 1.2em; line-height:1.5em;}
	
	/*footer all pages*/
	.footer-section{padding: 1em 0;}
}
/*End of queries for max-width: 320*/
